@import url(../../styles/ColorsFacturaAll.css);

.abono_header--Container {
    display: flex;
    width: auto;
}

.abonoTop_Top-Lef--Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.Abono_top-left,
.Abono-Cliente_top-left {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 490px;
    height: auto;
    background-color: var(--BG-01-Cards);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(15, 16, 23, 0.2);
    transition: all .5s ease;
}


.Abono_top-left {    
    margin-bottom: 20px;
}

.grupDiv_Abono-Right,
.grupDiv_Abono-Left {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.grupDiv_Abono-Left {
    margin-left: 35px;
}

.tittleGrup_Abono,
.resultGrup_Abono {
    font-size: 15px;
    margin-bottom: 5px;
}

.tittleGrup_Abono {
    color: var(--TxT-Color-01);
}

.resultGrup_Abono {
    color: var(--TxT-Color-02);
    margin-right: 20px;
}

/* RIGHT HEADER */
.abonoTop_Top-Right--Container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.tittlesAbono-TopRight {
    display: flex;
}

.ID_Abono--Top-Right,
.AbonoTittle--TopRight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
    background-color: var(--BG-01-Cards);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(15, 16, 23, 0.2);
    margin-bottom: 20px;
    transition: all .5s ease;
}

.ID_Abono--Top-Right {
    width: 35%;
}

.AbonoTittle--TopRight {
    width: 65%;
    margin-left: 20px;
}

.tittleGrup_Abono--ID {
    color: var(--TxT-Color-01);
    font-weight: 500;
    font-size: 50px;
}

.Abono_Empleado--top-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 188px;
    background-color: var(--BG-01-Cards);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(15, 16, 23, 0.2);
    transition: all .5s ease;
}

.logoMini--Tittle-abono {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.Abono--Tittle {
    color: var(--TxT-Color-01);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.Abono_Empleado--top-right .grupDiv_Abono-Right .tittleGrup_Abono,
.Abono_Empleado--top-right .grupDiv_Abono-Left .resultGrup_Abono {
    margin-left: 20px;
    font-size: 18px;
}

.separador__Abono-TopRight {
    margin: 10px 0;
    width: 100%;
    height: 2px;
    background-color: var(--Right-BG-Color);
}

.EmpleadoAbono--TopRight,
.ClienteAbono--TopRight {
    display: flex;
}
