.main-container {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: auto;
    margin-left: 0.3%;
    margin-right: 0.3%;
    /* text-align: left; */
    border-radius: 20px;
}

.table-container {
    background-color: #383e4b;
    border-radius: 15px;
    padding: 1rem;
    overflow-x: auto;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
}

.table__body {
    display: flex;
    flex-direction: column;
}


#id {
    color: #7575bc;
}

.cabeza {
    color: #7c8494;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.active, .inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    padding: 5px 0;
}

.active {
    background-color: #00906b;
    color: #f1e8ea;
}

.inactive {
    background-color: #a4465a;
    color: #f1e8ea;
}

.columna_acciones, #columna_acciones {
    background-color: #434a59;
}

button.boton {
    background-color: #f2bb15;
    border: none;
    color: #252327;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
}

button.boton:hover {
    background-color: #d1a10d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #383e4b;
    color: #f1e8ea;
}

/* tr:nth-child(even) {
    background-color: #434a59;
} */

tr:hover {
    background-color: #575d6b;
}
