.main-container{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight:bold;
    padding: auto;
    margin-left: 0.3%;
    margin-right: 0.3%;
    text-align: left;
    border-radius: 20px;
}


.table-container{
    background-color: #383e4b;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); */
    border-radius: 15px;
    padding: 1rem;
}

.table__body{
    display: flex;
    flex-direction: column;
}

#id{
    color: #7575bc;
}
.cabeza{
    color:#7c8494;
}