@import url(../../styles/ColorsAll.css);


.background-pattern {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='20' patternTransform='scale(1) rotate(145)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(225, 11%, 21%, 1)'/><path d='M-50.129 12.685C-33.346 12.358-16.786 4.918 0 5c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='4' stroke='hsla(222, 11%, 18%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-size: 100%;
}

.home_Container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* LOGO HOME ---------> */
.logoHome-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.logoHome_Img {
    max-width: 100px;
    max-height: 100px;
}

.logoHome_Text {
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: bold;
}

/* TITTLES HOME ---------->*/
.TittleHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Home-Container-BG);
    border-radius: 15px;
    width: 550px;
    padding: 15px;
    margin-bottom: 40px;
}

.TittleHome_Text,
.SubTittleHome_Text {
    text-transform: uppercase;
    font-weight: bold;
}

.TittleHome_Text {
    font-size: 35px;
}

.SubTittleHome_Text {
    font-size: 20px;
    opacity: 50%;
}

/* RESUMENES ---------------> */
.resumenesHome_Container {
    display: flex;
}

.resumenContent {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    min-height: 110px;
    max-width: 110px;
    max-height: 140px;
    margin: 0 10px;
    padding: 15px;
    background-color: var(--Home-Container-BG);
    border-radius: 15px;
}

/* Icons */
.iconResumen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.iconResumen i {
    font-size: 18px;
    font-weight: bold;
}

.vendedoresIcon {
    background-color: var(--Home-BG-01);
}

.ClientesIcon {
    background-color: var(--Home-BG-02);
}

.RutasIcon {
    background-color: var(--Home-BG-03);
}

.VentasIcon {
    background-color: var(--Home-BG-04);
}

/* Tittles */
.titleResumenHome {
    font-weight: bold;
}

.contadorHome {
    opacity: 60%;
    word-wrap: break-word;
}