/* ModalRegistroFactura.css */

.modalpagarFactura-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modalpagarFactura-content {
    background-color: var(--Modal-BG-01);
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.modalpagarFactura-close-btn {
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--MP--Txt-Color-01);
    font-size: 16px;
    cursor: pointer;
}

.modalpagarFactura-content h2 {
    color: var(--TxT-Color-01);
    margin-bottom: 20px;
}
.modalpagarFactura-content h3{
    color: var(--TxT-Color-01);
}

.modalpagarFactura-content div {
    margin-bottom: 20px;
}

.modalpagarFactura-content p {
    color: var(--TxT-Color-01);
    margin: 5px 0;
}

.modalpagarFactura-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modalpagarFactura-table th,
.modalpagarFactura-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--MP--Txt-Color-04);
}

.modalpagarFactura-table th {
    background-color: var(--Modal-Tabla-BG-01);
}

.modalpagarFactura-table tbody tr:nth-child(even) {
    background-color: var(--Modal-Tabla-BG-02);
}


.accionesRegistrarFactura {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.modalpagarFactura-close-BTN,
.modalpagarRegistrar_factura_BTN {
    flex: 1;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: var(--MP--Txt-Color-02);
    cursor: pointer;
    transition: opacity 0.37s ease;
}

.modalpagarFactura-close-BTN {
    background-color: var(--BtN-Color-BG-02);
}

.modalpagarRegistrar_factura_BTN {
    background-color: var(--BtN-Color-BG-03);
}

.modalpagarFactura-close-BTN:hover,
.modalpagarRegistrar_factura_BTN:hover {
    opacity: 75%;
}

.modalpagarRegistrar_factura_BTN:active,
.modalpagarFactura-close-BTN:active {
    opacity: 100%;
}

.datos-cliente,
.datos-calculos,
.datos-metodo-pago{
    border-radius: 15px;
    padding: 5px 15px;
    background-color: var(--Modal-BG-02);
}

.resultColor_Pagar{
    color: var(--TxT-Color-02);
}